<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
    <h1>Генератор паролей</h1>

    <form action="{% url 'password' %}">
        <!--конструкция with нужна чтобы сохранять длину при обновлении пароля-->
        {% with length=request.GET.length|default:"12" %}
        <label for="length">Введите длину пароля:</label>
        <input type="number" name="length" id="length" value="{{ length }}" min="4" max="50" class="form-control">
        {% endwith %}

        <br>
        <input type="checkbox" name="uppercase" {% if "uppercase" in request.GET %} checked {% endif %}> С учетом
        верхнего регистра
        <br>
        <input type="checkbox" name="numbers" {% if "numbers" in request.GET %} checked {% endif %}> С учетом цифр
        <br>
        <input type="checkbox" name="special" {% if "special" in request.GET %} checked {% endif %}> С учетом спец.
        символов
        <br>
        <br>

        <h1>Сгенерированный пароль:</h1>
        <h2 class="alert alert-success">{{ password }}</h2>
        <button onclick="location.reload();" class="btn btn-secondary">Обновить пароль</button>

    </form>
</div>


